// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import 'font-awesome';
body {
  background: #e2ebf3;
}

.addImgs{
  width: 40%;
  margin: 0 auto;
}
.imgThumbs{
  width: 20%;
  height: 330px;
  margin: 2% 2%;
  float: left;
  overflow: hidden;
}
.fa{
  max-height: 0;
  overflow: hidden;
}
.displayed{
  max-height: 30px;
}